{% extends 'base.html' %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg">
                <div class="alert alert-primary" role="alert">
                  <h4 class="alert-heading">欢迎回来！</h4>
                  <p class="mb-0">这是整个网站的训练数据，希望能够激励你去刷更多的题目！！</p>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-info row">
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>今日提交
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-primary">128</span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-comments"></i>今日通过
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success">100</span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-cube"></i>总提交
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-primary">65536</span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-tags"></i>总通过
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success">16384</span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>最新通过的题目
                    </div>
                    <ul class="list-group list-group-flush">
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-warning">2019-08-02 09:12:33</span>
                        </span>
                    </ul>
                </div>
            </div>

            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-comments"></i>最多人通过的题目
                    </div>
                    <ul class="list-group list-group-flush">
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">Codeforces-1033E</span>
                            <span class="text-right problem-id badge badge-pill badge-dark">128 人</span>
                        </span>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>最新评论
                    </div>
                    <ul class="list-group list-group-flush">
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">biubiubiutql!!</span>
                            <span class="text-right">
                                <span class="problem-id badge badge-pill badge-info"><i class="fas fa-user"></i> Nitrogens</span>
                                 to
                                <span class="problem-id badge badge-pill badge-success"><i class="fas fa-user"></i> lajiyuan</span>
                            </span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">zlsnb!!</span>
                            <span class="text-right">
                                <span class="problem-id badge badge-pill badge-info"><i class="fas fa-user"></i> Nitrogens</span>
                                 to
                                <span class="problem-id badge badge-pill badge-success"><i class="fas fa-user"></i> TelmaZzzz</span>
                            </span>
                        </span>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}