{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg">
                <div class="alert alert-primary" role="alert">
                  <h4 class="alert-heading"><i class="fas fa-home"></i> 欢迎回来！</h4>
                  <p class="mb-0">这是整个网站的训练数据，希望能够激励你去刷更多的题目！！</p>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-info row">
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-upload"></i>今日提交
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-primary" id="submission-today"></span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-check-square"></i>今日通过
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success" id="accepted-submission-today"></span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-upload"></i>总提交
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-primary" id="submission-total"></span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-check-square"></i>总通过
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success" id="accepted-submission-total"></span>
                        <span class="cp-dashboard-unit">次</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-question-circle"></i>最新通过的题目
                    </div>
                    <ul class="list-group list-group-flush" id="accepted-submission-list">
                    </ul>
                </div>
            </div>

            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-question-circle"></i>最多次通过的题目
                    </div>
                    <ul class="list-group list-group-flush" id="most-popular-problem-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/ajax/dashboard.js' %}"></script>
{% endblock %}