{% extends 'base.html' %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="page-sidebar col-lg-3">

                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active"><span class="page-sidebar-list-content"><i class="fas fa-cube"></i>刷题量</span></a>
                    <a href="" class="list-group-item list-group-item-action"><span class="page-sidebar-list-content"><i class="fas fa-tags"></i>Codeforces Rating</span></span></a>
                    </div>
            </div>
            <div class="col-lg-9">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">排名</th>
                      <th scope="col">用户名</th>
                      <th scope="col">刷题量</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>TelmaZzzz</td>
                      <td>1800</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}