{% extends 'base.html' %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg">
                <table class="table table-striped submission-list">
                  <thead>
                    <tr>
                      <th scope="col">序号</th>
                      <th scope="col">用户</th>
                      <th scope="col">提交时间</th>
                      <th scope="col">题目</th>
                      <th scope="col">评测状态</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-success"><i class="fas fa-check-circle"></i>正确通过</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-danger"><i class="fas fa-times-circle"></i>答案错误</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-warning"><i class="fas fa-hourglass-end"></i>运行超时</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-warning"><i class="fas fa-database"></i>内存超限</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i>运行错误</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-info"><i class="fas fa-spinner"></i>编译错误</span></td>
                    </tr>
                  <tr>
                      <th scope="row">1</th>
                      <td>lajiyuan</td>
                      <td>2019 年 8 月 2 日 17:12:34</td>
                      <td><span class="badge badge-primary"><i class="fas fa-question-circle"></i> Codeforces-1033A</span></td>
                      <td><span class="badge badge-dark"><i class="fas fa-poll"></i>其他结果</span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}