{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg">
                <div class="alert alert-primary user-id" role="alert">
                    <span class="alert-heading mb-0 h4"><i class="fas fa-user"></i><span id="username"></span></span>
                    <a class="btn btn-outline-primary" id="update-data" href="#">更新数据</a>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-info row">
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-question-circle"></i>刷题量
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success" id="accepted-submission"></span>
                        <span class="cp-dashboard-unit">题</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-star"></i>Codeforces 分数
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit badge badge-pill" id="codeforces-rating"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-list-ol"></i>刷题量排名
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit">第</span>
                        <span class="cp-dashboard-statnumber badge badge-pill badge-danger" id="problem-rank"></span>
                        <span class="cp-dashboard-unit">名</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-poll"></i>CF 分数排名
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit">第</span>
                        <span class="cp-dashboard-statnumber badge badge-pill badge-warning" id="codeforces-rating-rank"></span>
                        <span class="cp-dashboard-unit">名</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-surprise"></i>提交状态分布
                    </div>
                    <div class="chart" id="chart-status">

                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-atlas"></i>做题网站分布
                    </div>
                    <div class="chart" id="chart-oj">

                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-poll"></i>Codeforces 分数变化情况
                    </div>
                    <div class="chart" id="chart-codeforces">

                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-calendar-week"></i>近 6 个月做题情况
                    </div>
                    <div class="chart" id="chart-monthly">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/ajax/user.js' %}"></script>
{% endblock %}