{% extends 'base.html' %}
{% block container %}
    <div class="container page-content">
        <div class="row">
            <div class="col-lg">
                <div class="alert alert-primary user-id" role="alert">
                  <h4 class="alert-heading mb-0"><i class="fas fa-user"></i> lajiyuan</h4>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-info row">
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>刷题量
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-statnumber badge badge-pill badge-success">128</span>
                        <span class="cp-dashboard-unit">题</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-comments"></i>Codeforces 分数
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit badge badge-pill user-violet">2077</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-cube"></i>刷题量排名
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit">第</span>
                        <span class="cp-dashboard-statnumber badge badge-pill badge-danger">1</span>
                        <span class="cp-dashboard-unit">名</span>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card text-center cp-dashboard-card">
                    <div class="card-header">
                        <i class="fas fa-tags"></i>CF 分数排名
                    </div>
                    <div class="card-body">
                        <span class="cp-dashboard-unit">第</span>
                        <span class="cp-dashboard-statnumber badge badge-pill badge-warning">1</span>
                        <span class="cp-dashboard-unit">名</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>提交状态分布
                    </div>
                    <div class="chart" id="chart-status">

                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>做题网站分布
                    </div>
                    <div class="chart" id="chart-oj">

                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>Codeforces 分数变化情况
                    </div>
                    <div class="chart" id="chart-codeforces">

                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>近几个月做题情况
                    </div>
                    <div class="chart" id="chart-monthly">

                    </div>
                </div>
            </div>
        </div>
        <div class="cp-dashboard-content-list row">
            <div class="col-lg">
                <div class="card cp-dashboard-card">
                    <div class="card-header">
                        <i class="far fa-file-alt"></i>最新评论
                    </div>
                    <ul class="list-group list-group-flush">
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">biubiubiutql!!</span>
                            <span class="text-right">
                                <span class="problem-id badge badge-pill badge-info"><i class="fas fa-user"></i> Nitrogens</span>
                                 to
                                <span class="problem-id badge badge-pill badge-success"><i class="fas fa-user"></i> lajiyuan</span>
                            </span>
                        </span>
                        <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <span class="problem-id">zlsnb!!</span>
                            <span class="text-right">
                                <span class="problem-id badge badge-pill badge-info"><i class="fas fa-user"></i> Nitrogens</span>
                                 to
                                <span class="problem-id badge badge-pill badge-success"><i class="fas fa-user"></i> TelmaZzzz</span>
                            </span>
                        </span>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $.ajax({
            url: '/api/stat/verdict/',
            dataType: 'json',
            async: true,
            type: 'GET',
            data: {
                username: 'admin',
            },
            success: function (data) {
                var myChart = echarts.init(document.getElementById("chart-status"));
                var option = {
                    title : {
                        text: '某站点用户访问来源',
                        subtext: '纯属虚构',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
                    },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:335, name:'直接访问'},
                                {value:310, name:'邮件营销'},
                                {value:234, name:'联盟广告'},
                                {value:135, name:'视频广告'},
                                {value:1548, name:'搜索引擎'}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            }
        });
        $.ajax({
            url: '/api/stat/oj/',
            dataType: 'json',
            async: true,
            type: 'GET',
            data: {
                username: 'admin',
            },
            success: function (data) {
                var myChart = echarts.init(document.getElementById("chart-oj"));
                var option = {
                    title : {
                        text: '某站点用户访问来源',
                        subtext: '纯属虚构',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
                    },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:335, name:'直接访问'},
                                {value:310, name:'邮件营销'},
                                {value:234, name:'联盟广告'},
                                {value:135, name:'视频广告'},
                                {value:1548, name:'搜索引擎'}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            }
        });
        $.ajax({
            url: '/api/stat/verdict/',
            dataType: 'json',
            async: true,
            type: 'GET',
            data: {
                username: 'admin',
            },
            success: function (data) {
                var myChart = echarts.init(document.getElementById("chart-codeforces"));
                var option = {
                    title: {
                        text: '堆叠区域图'
                    },
                    tooltip : {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : ['周一','周二','周三','周四','周五','周六','周日']
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'邮件营销',
                            type:'line',
                            stack: '总量',
                            areaStyle: {},
                            data:[120, 132, 101, 134, 90, 230, 210]
                        },
                        {
                            name:'联盟广告',
                            type:'line',
                            stack: '总量',
                            areaStyle: {},
                            data:[220, 182, 191, 234, 290, 330, 310]
                        },
                        {
                            name:'视频广告',
                            type:'line',
                            stack: '总量',
                            areaStyle: {},
                            data:[150, 232, 201, 154, 190, 330, 410]
                        },
                        {
                            name:'直接访问',
                            type:'line',
                            stack: '总量',
                            areaStyle: {normal: {}},
                            data:[320, 332, 301, 334, 390, 330, 320]
                        },
                        {
                            name:'搜索引擎',
                            type:'line',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'top'
                                }
                            },
                            areaStyle: {normal: {}},
                            data:[820, 932, 901, 934, 1290, 1330, 1320]
                        }
                    ]
                };
                myChart.setOption(option);
            }
        });
        $.ajax({
            url: '/api/stat/monthly/',
            dataType: 'json',
            async: true,
            type: 'GET',
            data: {
                username: 'admin',
            },
            success: function (data) {
                var myChart = echarts.init(document.getElementById("chart-monthly"));
                var option = {
                    xAxis: {
                        type: 'category',
                        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: [120, 200, 150, 80, 70, 110, 130],
                        type: 'bar'
                    }]
                };
                myChart.setOption(option);
            }
        });
    </script>
{% endblock %}